html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

#previewElement {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#canvasElement {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: contain;
    /* object-fit: cover;*/
}

#camera--trigger {
    width: 180px;
    background-color: white;
    color: black;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    bottom: 30px;
    left: calc(50% - 100px);
    position: absolute;
    z-index: 50;
}

.taken {
    height: 100px !important;
    width: 100px !important;
    transition: all 0.5s ease-in;
    border: solid 3px white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    top: 50px;
    right: 20px;
    z-index: 2;
}

#btn--control {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    z-index: 50;
}

#btn {
    width: 90px;
    background-color: white;
    color: black;
    font-size: 10px;
    border-radius: 30px;
    border: none;
    padding: 8px 8px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    left: calc(50% - 100px);
}

/* #btnControl {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    z-index: 50;
}

.setButton {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    border: none;
    background-color: transparent;
    height: 20px;
}

#camera--sequence {
    position: absolute;
     bottom: 10px;
    right: 10px; 
    opacity: 1;
    /* z-index: -1; */
/*}

#camera--sequence img {
    width: 270px;
    height: 480px;
      
    margin-left: 0px;
}*/